
.product-page {
  img {
    width: 100%;
  }

    &__header {
      .product-page__title.title {
        margin-bottom:20px;
        font-size: 2em;
        font-weight: normal;
        @media(max-width: 767px) {
          padding:0;
        }
      }
      text-align: left;
    }

    &__content {
      padding-bottom: 1em;

    }

}
