body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight:800;
  color: $headings_color;
}

.block_title {
  .title {
    font-size:2.2em;
    color: $brand_main_color;
    @media(min-width: 768px) {
      font-size: 2.4em;
    }
    @media(min-width: 992px) {
      font-size: 3em;
    }
    @media(min-width: 1200px) {
      font-size: 3.2em;
    }
    @media(min-width: 1900px) {
      font-size: 3.4em;
    }
  }
}

body.home {
  .block_title {
  .title {
    font-size:2em;
    color: $brand_main_color;
    @media(min-width: 768px) {
      font-size: 2.2em;
    }
    @media(min-width: 992px) {
      font-size: 2.4em;
    }
    @media(min-width: 1200px) {
      font-size: 2.6em;
    }
    @media(min-width: 1900px) {
      font-size: 2.8em;
    }
  }
}
}